---
title: "Events"
---

<h1>Events</h1>

<p>Please find the list of events below in the embedded calendar, if you'd prefer this as an iCal subscription, please use <a href="https://calendar.google.com/calendar/ical/d123f9bc007f645c0bcba1a79436901cd3070c2f7457b99a1a0a58e973b82e8b%40group.calendar.google.com/public/basic.ics">this link</a>. Event reminders will also be sent over email from our email bot.</p>

<i>Please note: events are also catalogued on <a href="https://csevents.swansea.ac.uk">CS Events</a>.</i>

<iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=2&ctz=Europe%2FLondon&bgcolor=%23ffffff&hl=en_GB&mode=AGENDA&showTitle=0&showPrint=0&showCalendars=0&src=ZDEyM2Y5YmMwMDdmNjQ1YzBiY2JhMWE3OTQzNjkwMWNkMzA3MGMyZjc0NTdiOTlhMWEwYTU4ZTk3M2I4MmU4YkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23D50000" style="border-width:0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>

<h2>Suggestions</h2>
<p>Have an idea for an event? Let us know using the contact details on the homepage, or if there's something you'd like to see someone else do, you can have it show up on this page! If that's the case, submit a suggestion using <a href="https://airtable.com/appf8Vuqh5wwnMqBq/pagyiJAWx7q8WBkc6/form">this form</a>.</p>
<suggestions></suggestions>
