<template>
  <SuggestionBox
    v-for="suggestion in suggestions"
    v-bind:suggestion="suggestion" />
</template>

<script>
  import Airtable from 'airtable';
  import SuggestionBox from './SuggestionBox.vue';

  export default {
    name: 'Suggestions',
    components: {
      SuggestionBox
    },
    data() {
      return {
        suggestions: [],
        base: {}
      }
    },
    async mounted() {
      Airtable.configure({
        apiKey: 'patLklMGZrH1m5Rxj.d088f6256cb6a407f1be092078c5457a4a7786e9403bf014e195e5702ef78006'
      })

      this.base = Airtable.base('appf8Vuqh5wwnMqBq');

      try {
        var suggestionsTable = await this.base('Overview').select({view: 'Publishable'}).all()

        suggestionsTable.map((suggestion) => {
          this.suggestions.push({
            'Title': suggestion.get('Title'),
            'Subtitle': suggestion.get('Subtitle'),
            'Suggester': suggestion.get('Suggester'),
            'Notes': suggestion.get('Notes')
          });
        })
      } catch (err) {
        console.error(err)
      }
    }
  }
</script>