<template>
  <div class="info-box">
    <h3 v-if="suggestion.Subtitle">
      {{ suggestion.Title }}: {{ suggestion.Subtitle }}
    </h3>
    <h3 v-if="!suggestion.Subtitle">
      {{ suggestion.Title }}
    </h3>
    <p>{{ suggestion.Notes }}</p>
  </div>

</template>

<script>
  export default {
    name: 'SuggestionBox',
    props: {
      suggestion: Object
    }
  }
</script>